button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

#full-page {
  width: 100%;
  background: #fcfcfa;
  position: relative;
}

div#nav {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  margin: 0 16px;
}

div#right-section ul li:last-child {
  position: relative;
}

div#right-section ul li:last-child > span {
  position: absolute;
  top: -7px;
  left: 19px;
  font-size: 13px;
}

div#right-section ul li:last-child:hover {
  cursor: pointer;
}

div#left-section ul li:first-child {
  font-size: 24px;
  letter-spacing: 4px;
  margin-right: 24px;
}

div#header {
  display: flex;
  justify-content: space-between;
  padding: 40px 120px;
}

div#header-lhs,
div#header-rhs {
  display: flex;
  flex-direction: column;
}

div#header-rhs {
  justify-content: flex-end;
}

select#disabled-filter {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border: 1px solid gray;
  color: #000;
}

div#body {
  background: #e3e6e3;
  height: 100%;
}

div#body-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  flex-wrap: wrap;
}

div#body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
  padding-top: 100px;
}

@media (min-width: 768px) {
  div#body-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
    padding-top: 100px;
  }
}

div.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img.product-image {
  max-width: 250px;
  height: 250px;
}

div.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.product-description p {
  margin: 0 10px 6px;
}

.add-to-cart-button {
  width: 160px;
  background: #4b5548;
  height: 40px;
  margin-top: 3px;
  color: #fff;
}
